<!DOCTYPE html>
<html>

<head>

</head>

<body>


    <form method="POST" action="/register_casino">
        {{ form.csrf_token }}
        <br />
        <br /> {{ form.name.label }} {{ form.name(size=20) }}
        <br />
        <br /> {{ form.email.label }} {{ form.email(size=20) }}
        <input type="submit" value="Submit Data">
    </form>
    {% extends "flash.html" %} {% block body %} {% if error %}
    <p class=error><strong>Error:</strong> {{ error }} {% endif %} {% endblock %}
</body>

</html>